<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Thing" path="*" verb="*" type="HttpHandlerWebSite.DefaultHandler" />
    </handlers>
  </system.webServer>
  <location path="subpath">
    <system.webServer>
      <handlers>
        <add name="LocationScopedHandler" path="*" verb="*" type="HttpHandlerWebSite.LocationScopedHandler" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
